@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(189, 230, 201);
    --primary-color-darker: rgb(148, 184, 159);
    --secundary-color: rgb(230, 230, 250);  
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Albert Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

h1 {
    text-align: center;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #e6e6fa;
    padding: 20px;
    border-radius: 10px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    border-color: var(--primary-color);
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background:  var(--primary-color);
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

fomr button:hover {
    background-color: var(--primary-color-darker);
}

.paragrafo-resultado {
    background: var(--primary-color);
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
}

.bad {
    background: rgb(232, 127, 137);
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
}
